In [71]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [72]:
auto = pd.read_csv(r"auto-mpg.csv")

auto.shape
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [77]:
auto.drop(auto[auto['horsepower'] == '?'].index, inplace = True)

X = auto.iloc[:,1:-1]
#X = X.drop(columns = ['horsepower'])
X.head()
#x_error = X.loc[X['horsepower'] == '?']
#x_error
y = auto.iloc[:,0]
y.head()

lr = LinearRegression()
lr.fit(X.to_numpy(),y)
print(lr.score(X.to_numpy(),y))


# my_car1 = [4, 160, 190, 12, 90, 1]
# my_car2 = [4, 200, 260, 15, 83, 1]

my_car1 = [4, 160, 190, 3000, 12, 90, 1]
my_car2 = [4, 200, 260, 2500, 15, 83, 1]
 
cars = [my_car1, my_car2]

mpg_predict = lr.predict(cars)
print(mpg_predict)

0.8214780764810597
[31.31110708 29.1436932 ]